html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Karma, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.crystal {
  width: 70%;
  margin-left: 3.2rem;
}

main ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

ol > li {
  background-color: #fff;
  padding: 1.25rem;
  border: 3px solid #987ffa;
  border-radius: 6px;
  list-style-type: none;
  margin: 0;
}

main h2 {
  font-family: Oswald, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #6f00e7;
  text-align: center;
  margin: .25rem;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  padding-left: 0;
}

ul > li {
  margin: .25rem;
}

.cart {
  background-color: #6f00e7;
  color: white;
  font-family: Oswald, sans-serif;
  margin: 0 auto 0 0;
  padding: .5em 1.5em .7em;
  border-radius: 3em;
}

span {
  color: white;
  text-decoration: none;
  font-family: Oswald, sans-serif;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

p {
  text-align: center;
  font-size: 1.4rem;
  margin: .25rem;
  padding-bottom: 1.5rem;
}
